<section id="hero" class="d-flex align-items-center">
  <div class="container">
    <h1>Tervetuloa Heart Mind Sovelluksen</h1>
    <a href="#about" class="btn-get-started scrollto">Aloittaa HRV mittaus</a>
  </div>
</section>